body {
    font-family: Arial, sans-serif;
    background-color: #5f93ee;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0607f3;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #16cf19;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff; /* White background for social links */
    padding: 10px;
    border-radius: 8px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.social-links a img {
    width: 30px; /* Adjust the size of the social link logos */
    height: 30px; /* Adjust the size of the social link logos */
}

.social-links a:hover {
    transform: scale(1.2);
}

.generated-text-container {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    background-color: #f9f9f9; /* Background color for generated text */
    border-radius: 3px;
    padding: 10px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace; /* Font style for generated text */
}
